@model IEnumerable<Project_TMS.Models.ManageTrainee>
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Assign Trainee to Topic", "Create")

<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Trainee Id</th>
		<th>Trainee Email</th>
		<th>Topic Name</th>

	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.Id</th>
			<th>@item.TraineeId</th>
			<th>@item.Trainee.Email</th>
			<th>@item.Topic.Name</th>
		</tr>
	}
</table>
