@model Project_TMS.ViewModels.CourseCategoryViewModel
@{
	ViewBag.Title = "Edit";
}

<h2>Edit Course</h2>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@using (Html.BeginForm("Edit", "Courses", FormMethod.Post))
{
	@Html.HiddenFor(co => co.Course.Id)

	<div class="form-group">
		@Html.LabelFor(co => co.Course.Name)
		@Html.EditorFor(co => co.Course.Name, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(co => co.Course.Name, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(co => co.Course.Descriptions)
		@Html.EditorFor(co => co.Course.Descriptions, new { htmlAttributes = new { @class = "form-control" } })
		@Html.ValidationMessageFor(co => co.Course.Descriptions, "", new { @class = "text-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(t => t.Course.Category.Name)
		@Html.DropDownListFor(t => t.Course.CategoryId,
		 new SelectList(Model.Categories, "Id", "Name"),
		 "Select Course Name",
		 new { @class = "form-control" })
	</div>
	<button type="submit" class="btn btn-primary">Edit</button>
}